<template>
   <div class="fixed z-40 inset-0 h-screen">
      <div class="bg-gray-100 mx-auto rounded-2xl p-3  mt-60 w-80 h-auto">
         <p class="text-center font-bold text-xl text-indigo-500">Are you sure ?</p>
         <div class="justify-center flex space-x-4 mt-4">
            <button @click.prevent="deletePost" class="text-indigo-500">Yes</button>
            <button @click="onClose" class="text-white bg-indigo-500 px-3 rounded-xl">No</button>
         </div>
      </div>
   </div>
</template>

<script>
// belum fix
import axios from 'axios'
export default {
   props:['id'],
   methods:{
      onClose(){
         this.$emit('onClose')
      },
      async deletePost(){
         // const formData = new FormData()
         // formData.append('token', localStorage.getItem('token'))
         // formData.append('postId', this.id)
         // console.log(formData)
         const dataDelete = {
            token: localStorage.getItem('token'),
            postId: this.id
         }
         axios.post('http://localhost:8080/post/delete', dataDelete )
            .then(res => {
               console.log(res.data)
               this.$emit('onResult')
               this.onClose()
            })
            .catch(err => console.log(err))
      }
   }
}
</script>

<style>

</style>