<template>
   <div class="fixed z-40 inset-0 h-screen">
      <div class="bg-gray-100 mx-auto rounded-2xl p-3 mt-28 w-9/12 h-auto">
         <div class="grid grid-cols-2 content-center ">
            <div>
               <img :src="fixImgUrl(dataDetail.imageUrl)" class="w-full h-full rounded-2xl" >
            </div>
            <div class="p-4 my-auto ">
               <p class="text-xl text-gray-600 font-bold">{{ dataDetail.title }}</p>
               <p class="text-lg text-gray-600 font-medium">{{ dataDetail.description }}</p>
               <button @click="onClose" class="mt-3 bg-gray-600 rounded-full px-4 py-2 text-white">close</button>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   props:['dataDetail'],
   methods:{
      onClose(){
         this.$emit('onClose')
      },
      fixImgUrl(str){
         const first = str.split('/')[1]
         const last = str.split('/')[2]

         return `http://localhost:8080/${first}/${last}`
      }
   }
}
</script>

<style>

</style>