<template>
   <div class="fixed z-40 inset-0 h-screen">
      <div class="bg-gray-200 mx-auto rounded-2xl p-4 mt-28 w-96 h-auto">
          <form >
            <label class="block">
               <span class="block text-sm font-medium text-gray-700">Choose Image</span>
               <input @change="onChange" type="file" class="block w-full text-sm text-gray-500 border-2 bg-white
                  file:mr-4 file:py-2 file:px-4
                  file:rounded-lg file:border-0
                  file:text-sm file:font-semibold
                  file:bg-violet-50 file:text-violet-700
                  hover:file:bg-violet-100
               "/>
               
            </label>
            <label class="block my-3">
            <span class="block text-sm font-medium text-gray-700">Title</span>
            <input v-model="titleInput" type="text" placeholder="ikanBuntal" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
               focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"/>
            </label>
            <label class="block my-3">
            <span class="block text-sm font-medium text-gray-700">Description</span>
            <input v-model="descInput" type="text" placeholder="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
               focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"/>
            </label>
         </form>
         <button @click="onSubmit" class="px-4 py-2 bg-indigo-200 hover:bg-indigo-600 text-indigo-700 font-semibold hover:text-white rounded-lg">Update</button>
         <button @click.prevent="onClose" class="px-4 py-2 text-indigo-700 font-semibold rounded-lg">Cancel</button>
      </div>
   </div>
</template>

<script>
export default {
   props:['dataUpdate'],
   data(){
      return{
         image: null,
         imageUrl: '',
         titleInput: '',
         descInput: ''
      }
   },
   computed:{
      updateData(){
         console.log(this.dataUpdate)
         const _ = this.dataUpdate
         const imgUrl = _.imageUrl
         return{
            title: _.tite,
            decription: _.description
         }
      }
   },
   methods:{
      onClose(){
         this.$emit('onClose')
         console.log("cancel")
      },
      onChange(e){
         this.image = e.target.files[0]
      },
      onSubmit(e){
         e.preventDefault()
         const formData = new FormData()
         formData.append('image', this.image)
         formData.append('title', this.titleInput)
         formData.append('description', this.descinput)
         console.log(this.titleInput, this.descInput)
         console.log(formData)
      }
   }
}
</script>

<style>

</style>