<template>
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title mt-5">
        <h1 class="text-2xl text-gray-700 font-bold">Gallery</h1>
        <p class="text-lg text-gray-600 font-semibold ">Here's the gallery of the beautiful artwork from all people in this app</p>
      </div>

      <div class="grid grid-cols-4 gap-4 gap-y-4 w-full bg-gray-200 p-5 rounded-3xl" >
        <div class="w-76  bg-white rounded-xl" v-for="post in postData[0]" :key="post._id">
          <img class="rounded-t-xl" :src="fixImgUrl(post.imageUrl)" alt="">
          <div @click="showDetail(post._id)" class="p-2 cursor-pointer">
            <h1  class="mt-3 text-gray-800 text-lg font-bold my-2">{{ post.title }}</h1>
            <p class="text-gray-700 mb-2">{{ post.description }}</p>
          </div>
        </div>
      </div>

    </div>
    <div v-if="toggleDetail">
      <detail-card @onClose="onClose" :dataDetail="dataDetail"></detail-card>
    </div>
  </section>
</template>

<script>
import DetailCard from '../components/card/DetailCard.vue'
import axios from 'axios'
export default {
  components: {DetailCard},
  data(){
    return {
      toggleDetail: false,
      dataDetail: null,
      postData: []
    }
  },
  created(){
    this.getPosts()
  },
  methods:{
    fixImgUrl(str){
      const first = str.split('/')[1]
      const last = str.split('/')[2]
      return `http://localhost:8080/${first}/${last}`
    },
    onClose(){
      this.toggleDetail = !this.toggleDetail
      this.dataDetail = []
    },
    async showDetail(postId){
      console.log(postId)
      axios.post('http://localhost:8080/post/postId',{ postId })
        .then(res => {
          this.toggleDetail = !this.toggleDetail
          const result = JSON.parse(JSON.stringify(res.data))
          this.dataDetail = result.post
        })
        .catch(err => console.log(err))
    },
    async getPosts(){
      axios.get('http://localhost:8080/post/public')
        .then(res => {
          const result = JSON.parse(JSON.stringify(res.data.post))
          this.postData.push(result)
        })
        .catch(err => console.log(err))
    }
  }
}
</script>

<style>

</style>