<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Welcome to Pictureme!</h1>
      <h2>You can find and share your beautiful artwork here.</h2>
      <a href="Gallery.html" class="btn-get-started scrollto">Get Started</a>
      <img src="../assets/img/hero-img.jpg" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section>
   <section id="features" class="features" data-aos="fade-up">
      <div class="container">
        <div class="section-title">
          <h2>Features</h2>
          <p>What you can do here?</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../assets/img/features-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>You can see other's work</h3>
            <p>People who sent their artwork here can be seen for everyone.</p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="../assets/img/features-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Share your artwork</h3>
            <p class="fst-italic">
              Let people see your beautiful artwork here.
            </p>
          </div>
        </div>

      </div>
   </section>
</template>

<script>
export default {

}
</script>

<style>

</style>