<template>
  <div class="my-24 mx-20">
    <p class="text-center py-5 text-3xl text-gray-600 font-bold">Login to Pictureme!</p>
    <form-input btnText="Login" @onSubmit="submitLogin"></form-input>
  </div>
</template>

<script>
import FormInput from '../components/UI/FormInput.vue'
import axios from 'axios'
export default {
  components: { FormInput },
  data(){
    return{

    }
  },
  methods:{
    submitLogin(data){
      axios.post('http://localhost:8080/login', data)
        .then(res => {
          localStorage.setItem('token', res.data.token)
          localStorage.setItem('userId', res.data.userId)
          this.$router.push(`/profile/${res.data.userId}`)
        })
        .catch( err => console.log(err))
    }
  }

}
</script>

<style>

</style>