<template>
  <div class="mt-20 mb-5 my-28">
      <div class="mx-auto w-1/2">
         <div class="grid grid-cols-3 p-2">
            <img src="https://avatars.dicebear.com/api/adventurer/mknjbh.svg?r=50&size=250" class="rounded-full border-2 border-gray-600">
            <div class="col-span-2 my-auto ml-5">
               <p class="text-xl text-gray-700">Ini username</p>
               <p>ini email</p>
            </div>
         </div>
      </div>
      <div class="mx-auto w-4/5 mt-10">
         <p class="text-center my-4 text-3xl text-gray-700 font-bold">Your Post!</p>
         <p @click="showCreate" class="text-center my-4 text-lg font-semibold px-4 py-1 rounded-full cursor-pointer text-gray-800 ">Create a new post</p>
         <div class="grid grid-cols-4 rounded-3xl px-5 py-2 bg-gray-300">
            <p class="font-bold text-gray-700">Image</p>
            <p class="font-bold text-gray-700">Title</p>
            <p class="font-bold text-gray-700">Description</p>
            <p></p>
         </div>
         <div v-if="userPosts[0].length == 0" class="my-12">
            <p class="text-center font-bold text-gray-700 text-lg">Ops, looks like you haven't posted anything yet!</p>
         </div>
         <div v-else>
            <div class="mb-5 mt-2">
            <div v-for="post in userPosts[0]" :key="post._id" class="grid grid-cols-4 rounded-2xl align-middle my-1 px-3 py-2 border-2 border-gray-500">
               <img :src="fixImgUrl(post.imageUrl)" class="w-52 h-36 object-cover rounded-2xl">
               <div class="my-auto">
                  <p class="p-3">{{ post.title }}</p>
               </div>
               <div class="my-auto">
                  <p class="p-3">{{ post.description }}</p>
               </div>
               <div class="flex space-x-3 justify-center">
                  <div>
                     <button @click="showDetail(post._id)" class="mt-12 p-3 rounded-xl bg-gray-200">
                        <detail-icon></detail-icon>
                     </button>
                  </div>
                  <div>
                     <button @click="showEdit(post._id)" class="mt-12 p-3 rounded-xl bg-gray-200">
                        <edit-icon></edit-icon>
                     </button>
                  </div>
                  <div>
                     <button @click="showDelete(post._id)" class="mt-12 p-3 rounded-xl bg-gray-200">
                        <delete-icon></delete-icon>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div v-if="toggleDetail">
         <detail-card @onClose="toggleDetail = !toggleDetail" :dataDetail="dataDetail"></detail-card>
      </div>
      <div v-if="toggleEdit">
         <update-card @onClose="toggleEdit = !toggleEdit" :dataUpdate="dataDetail"></update-card>
      </div>
      <div v-if="toggleDelete">
         <delete-card @onClose="showDelete" @onResult="refresh()" :id="postId"></delete-card>
      </div>
      <div v-if="toggleCreate">
         <create-card @onClose="showCreate" @onResult="refresh()"></create-card>
      </div>
         </div>
  </div>
</template>

<script>
import axios from 'axios'
import EditIcon from '../components/icons/EditIcon.vue'
import DetailIcon from '../components/icons/DetailIcon.vue'
import DeleteIcon from '../components/icons/DeleteIcon.vue'
import DetailCard from '../components/card/DetailCard.vue'
import CreateCard from '../components/card/CreateCard.vue'
import DeleteCard from '../components/card/DeleteCard.vue'
import UpdateCard from '../components/card/UpdateCard.vue'
export default {
   components: { EditIcon, DetailIcon, DeleteIcon, DetailCard, UpdateCard, DeleteCard, CreateCard },
   data(){
      return{
         toggleDetail: false,
         toggleEdit : false,
         toggleDelete: false,
         toggleCreate: false,
         userPosts: [],
         dataDetail: null,
         token: null,
         userId: null,
         postId: null
      }
   },
   created(){
      this.getUserPost()
   },
   methods:{
      refresh(){
         this.getUserPost()
      },
      fixImgUrl(str){
         const first = str.split('/')[1]
         const last = str.split('/')[2]

         return `http://localhost:8080/${first}/${last}`
      },
      getUserPost(){
         const userId = this.$route.params.userId
         this.token = localStorage.getItem('token')
         console.log(this.token)
         axios.post(`http://localhost:8080/post`, {userId, token: this.token} )
         .then(res => {
            const result = JSON.parse(JSON.stringify(res.data.post))
            this.userPosts.push(result)
         })
         .catch(err => console.log(err))
      },
      // belum fix
      async showDetail(postId){
         axios.post('http://localhost:8080/post/postId', {postId})
            .then(res => {
               this.toggleDetail = !this.toggleDetail
               const result = JSON.parse(JSON.stringify(res.data))
               this.dataDetail = result.post
            })
            .catch(err => console.log(err))
      },
      async showEdit(postId){
         axios.post('http://localhost:8080/post/postId', {postId})
            .then(res => {
               this.toggleEdit = !this.toggleEdit
               const result = JSON.parse(JSON.stringify(res.data))
               this.dataDetail = result.post
               
            })
            .catch(err => console.log(err))
      },
      showDelete(id){
         this.toggleDelete = !this.toggleDelete
         console.log(id)
         this.postId = id
      },
      showCreate(){
         this.toggleCreate = !this.toggleCreate
      },
   }
}
</script>

<style>

</style>