<template>
  <div class="my-24 mx-20">
    <p class="text-center py-5 text-3xl text-gray-600 font-bold">Register to Pictureme!</p>
    <form-input btnText="Register" @onSubmit="submitRegister"></form-input>
  </div>
</template>

<script>
import FormInput from '../components/UI/FormInput.vue'
export default {
   components: { FormInput },
   data(){
      return{

      }
   },
   methods:{
      submitRegister(data){
         fetch('http://localhost:8080/signup', {
            method: 'PUT',
            body: JSON.stringify(data),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
         })
         .then(result => {
            console.log(result.data)
            this.$router.push({name: 'Login'})
         })
         .catch(err => console.log(err))
      }
   }

}
</script>

<style>

</style>