<template>
  <Navbar/>
  <main>
    <router-view></router-view>
  </main>
  <Footer/>
</template>

<script>
import Navbar from './components/UI/Navbar.vue'
import Footer from './components/UI/Footer.vue'
export default {
  components:{ Navbar, Footer },
  data(){
    return {
      isLogin: false
    }
  },
}
</script>

<style>

</style>