<template>
    <form class="mx-auto w-80 p-7 border border-gray-500 rounded-xl shadow-lg" >
      <label class="block my-3">
        <span class="block text-sm font-medium text-gray-700">Email</span>
        <input v-model="emailInput" type="text" placeholder="example@gmail.com" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"/>
      </label>
      <label class="block my-3" v-if="$route.fullPath === '/register'">
        <span class="block text-sm font-medium text-gray-700">Username</span>
        <input v-model="usernameInput" type="text" placeholder="ikanBuntal" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"/>
      </label>
      <label class="block my-3">
        <span class="block text-sm font-medium text-gray-700">Password</span>
        <input v-model="passwordInput" type="password" placeholder="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"/>
      </label>
      <button @click="onSubmit" class="px-4 py-2 bg-indigo-200 hover:bg-indigo-600 text-indigo-700 font-semibold hover:text-white rounded-lg">{{ btnText }}</button>
    </form>
</template>

<script>
export default {
  props:['btnText'],
  data(){
     return {
        emailInput:'',
        usernameInput:'',
        passwordInput:''
     }
  },
  methods:{
      onSubmit(e){
         e.preventDefault()
         let inputData
         if( this.usernameInput === ''){
            inputData = {
               email: this.emailInput,
               password: this.passwordInput
            }
         } else {
            inputData = {
               email: this.emailInput,
               username: this.usernameInput,
               password: this.passwordInput
            }
         }
         this.$emit('onSubmit', inputData)
      }
   }
}
</script>

<style>

</style>