<template>
  <header>
    <div class="w-full flex py-4 px-10 bg-slate-400">
      <h1 class="font-bold text-3xl text-gray-600"><router-link to="/">PICTUREME!</router-link></h1>
      <div class="flex space-x-5 ml-auto">
        <router-link v-if="currentRoute === ''" class="font-semibold text-gray-600 px-2 py-2 text-lg" to="/">Home</router-link>
        <router-link class="font-semibold text-gray-600 px-2 py-2 text-lg" to="/gallery">Gallery</router-link>
        <p v-if="$route.name === 'Profile'" class="font-semibold text-gray-600 px-2 py-2 text-lg">Profile</p>
        <router-link v-if="currentRoute === ''" class="font-semibold px-2 py-2 text-gray-600 text-lg" to="/login">Login</router-link>
        <router-link v-if="currentRoute === ''" class="font-semibold px-2 py-2 text-gray-600 text-lg" to="/register">Sign Up</router-link>
        <p @click="onLogout" v-if="$route.name === 'Profile'" class="cursor-pointer font-semibold px-3 py-2 bg-white rounded-xl text-gray-600 text-lg">Logout</p>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data(){
    return{
      isLoginUser: false,
      currentRoute:''
    }
  },
  created(){
    this.isLogin()
    console.log("run")
  },
  methods:{
    isLogin(){
      console.log(this.$route.name)
      console.log(this.isLoginUser)
      this.$route.name === 'Profile' ? this.currentRoute = 'Profile' : this.currentRoute 
    },
    onLogout(){
      localStorage.clear()
      this.$router.push('/login')
      this.currentRoute = ''
    }
  },
}
</script>

<style>

</style>